<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>No Completados</h2>
        <% @todos.each do |todo|  %>
        <% if todo.completed == false %>
          <div class="well well-sm">
            <%= todo.description %>
            <%= todo.completed %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="col-md-6">
      <h2>Completados</h2>
        <% @todos.each do |todo|  %>
        <% if todo.completed == true %>
          <div class="well well-sm">
            <%= todo.description %>
            <%= todo.completed %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
